<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                        data-class="closed-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
            <span>
                <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button>
            </span>
        </div>
        <div class="app-header__content">
            <div class="app-header-left">
                <div class="search-wrapper">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="Type to search">
                        <button class="search-icon"><span></span></button>
                    </div>
                    <button class="close"></button>
                </div>
            </div>
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <img width="42" class="rounded-circle" src="assets/images/avatars/wa.jpg"
                                            alt="">
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-right">
                                        <button type="button" tabindex="0" class="dropdown-item">Compte </button>
                                        <button type="button" tabindex="0" class="dropdown-item">Taches</button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            Déconnecter</button>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">

                                <div class="widget-subheading">
                                    wajdi
                                </div>
                            </div>
                            <div class="widget-content-right header-user-info ml-3">
                                <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                    <!-- <i class="fa text-white fa-calendar pr-1 pl-1"></i> -->
                                    <i class="fas fa-warehouse text-white pr-1 pl-1"></i>
                                </button>
                            </div>

                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-subheading">
                                    gabes
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui-theme-settings">
        <button type="button" id="TooltipDemo" class="btn-open-options btn btn-warning">
            <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
        </button>
        <div class="theme-settings__inner">
            <div class="scrollbar-container">
                <div class="theme-settings__options-wrapper">
                    <h3 class="themeoptions-heading"> navbar couleur </h3>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="pb-2">Choose Color Scheme
                                </h5>
                                <div class="theme-settings-swatches">
                                    <div class="swatch-holder bg-primary switch-header-cs-class"
                                        data-class="bg-primary header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-secondary switch-header-cs-class"
                                        data-class="bg-secondary header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-success switch-header-cs-class"
                                        data-class="bg-success header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-info switch-header-cs-class"
                                        data-class="bg-info header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-warning switch-header-cs-class"
                                        data-class="bg-warning header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-danger switch-header-cs-class"
                                        data-class="bg-danger header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-light switch-header-cs-class"
                                        data-class="bg-light header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-dark switch-header-cs-class"
                                        data-class="bg-dark header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-focus switch-header-cs-class"
                                        data-class="bg-focus header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-alternate switch-header-cs-class"
                                        data-class="bg-alternate header-text-light">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-main">
        <div class="app-sidebar sidebar-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <ul class="vertical-nav-menu">
                        <li class="app-sidebar__heading">Profil</li>
                        <li>
                            <a href=""><i class="metismenu-icon pe-7s-display2"></i> Compte </a>
                        </li>

                        <li>
                            <a routerLink="/Menu/Menu-Principale">
                                <i class="metismenu-icon pe-7s-culture"></i>
                                Acceuil
                                <i class="metismenu-state-icon "></i>
                            </a>
                            <a routerLink="/Menu/Menu-rh">
                                <i class="metismenu-icon pe-7s-diamond"></i>
                                Ressource Humaine
                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                            </a>
                            <ul>
                                <li>
                                    <a routerLink="/Menu/Menu-rh/Menu-employe">
                                        <i class="metismenu-icon">
                                        </i> Employé
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/Menu/Menu-rh/contrat">
                                        <i class="metismenu-icon">
                                        </i>Contrat
                                    </a>
                                </li>


                            </ul>
                        </li>

                        <li>
                            <a routerLink="/Menu/Menu-tms">
                                <i class="metismenu-icon pe-7s-diamond"></i>
                                Système Gestion Transports
                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                            </a>
                            <ul>
                                <li>
                                    <a routerLink="/Menu/Menu-tms/Menu-vehiecule">
                                        <i class="metismenu-icon">
                                        </i>Vehiecule
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/Menu/Menu-tms/Menu-mission">
                                        <i class="metismenu-icon">
                                        </i>Mission
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/Menu/Menu-tms/Menu-commande">
                                        <i class="metismenu-icon">
                                        </i>Commande
                                    </a>
                                </li>

                                <li>
                                    <a routerLink="/Menu/Menu-tms/Menu-entretient">
                                        <i class="metismenu-icon">
                                        </i>Entretient
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/Menu/Menu-tms/Menu-marchendise">
                                        <i class="metismenu-icon">
                                        </i>Marchendise
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/Menu/Menu-tms/Menu-produits">
                                        <i class="metismenu-icon">
                                        </i>Produits
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/Menu/Menu-tms/Menu-region">
                                        <i class="metismenu-icon">
                                        </i>Région
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/Menu/Menu-tms/Menu-carburant">
                                        <i class="metismenu-icon">
                                        </i>Carburant
                                    </a>
                                </li>


                            </ul>
                        </li>



                    </ul>


                </div>
            </div>
        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <router-outlet></router-outlet>
                <!--     Contenu  des pages -->
            </div>
        </div>
    </div>
</div>