<div>
    <div class="menu">

        <div class="inline">
            <a routerLink="/Menu/Menu-tms/Menu-vehiecule"><img src="./../../assets/images/avatars/fournisseur.png" />
                <h2> Vehiecule </h2>
            </a>
        </div>


        <div class="inline">
            <a routerLink="/Menu/Menu-tms/Menu-region"><img src="./../../assets/images/TMS/menu-tms/region.png" />
                <h2>Région</h2>
            </a>
        </div>

        <div class="inline">
            <a routerLink="/Menu/Menu-tms/Menu-mission"><img src="./../../assets/images/TMS/menu-parc/missions.jpg" />
                <h2> Mission </h2>
            </a>
        </div>

        <div class="inline">
            <a routerLink="/Menu/Menu-tms/Menu-commande"><img src="./../../assets/images/vente/facture.png" />
                <h2>Commande</h2>
            </a>
        </div>

        <div class="inline">
            <a routerLink="/Menu/Menu-tms/Menu-entretient"><img src="./../../assets/images/caisse/caisse.jpg" />
                <h2> Entretient Vehicule </h2>
            </a>
        </div>

        <div class="inline">
            <a routerLink="/Menu/Menu-tms/Menu-produits"><img src="./../../assets/images/init/produit.jpg" />
                <h2>Produits</h2>
            </a>
        </div>

        <div class="inline">
            <a routerLink="/Menu/Menu-tms/Menu-marchendise"><img src="./../../assets/images/rh/acces.png" />
                <h2> Marchendise </h2>
            </a>
        </div>

        <div class="inline">
            <a routerLink="/Menu/Menu-tms/Menu-carburant"><img
                    src="./../../assets/images/TMS/menu-parc/carburant-illustration.PNG" />
                <h2>Carburant</h2>
            </a>
        </div>


    </div>




</div>